/*********** Navbar ***********/

.nav-link{
  color: aliceblue;
  font-weight: 400;
  font-size: 1.3rem;
}

/*********** Header ***********/
.embed-responsive-item{
  position: relative;
  width: 100%;
  height: 500px;
}

/*********** Buildings ***********/
.bg-image-full{
  position: relative;
  background-size: cover;
  background-position: center center;
  margin: 0 10px 0 10px;
  height: 200px;
  color: black;
}

.bg-image-full::before {
  content: "";
  position: absolute;
  height: 240px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/original.jpg');
  filter: blur(2px); 
  z-index: -1;
}

/*********** About ***********/
#aboutUs{
  border-radius: 10px;
}
.rounded-3{
  border-radius: 10px;
}
#about-heading{
  font-size: 6rem;
  font-weight: 600;
}
.orange{
  color: rgb(255, 98, 0);
}
.bg-image{
  width: 100%;
  height: 500px;
}

/*********** Inspirations ***********/
#inspiration-section{
  background-image: url('./assets/nature.jpg');
  width: 100%;
}
#container-blur{
  background-color: rgba(255, 255, 255, 0.305);
}
#button{
  vertical-align: sub;
}

/*********** Media Queries ***********/

@media only screen and (max-width: 1200px) {
  #about-heading{
      font-size: 5rem;
      font-weight: 600;
  }
}